@model IceCreamProject.ViewModels.FeedbackViewModel
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Frontend.cshtml";
}
	<div class="hero overlay">
		<div class="img-bg rellax">
		<img src="~/Frontend/images/Ice_Cream_banner_5_wallpaper.jpg" alt="Image" class="img-fluid" loading="lazy">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">
					<h1 class="heading" data-aos="fade-up">Contact</h1>
				<p data-aos="fade-up">
					We'd love to hear from you! Visit us at our cozy ice cream parlor or get in touch for inquiries, feedback, or your favorite flavor recommendations. Let's make your ice cream dreams come true!
				</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
	@if (TempData["Success"] != null)
	{
		<div class="toast-container position-fixed  p-3" style="position: fixed; bottom: 1rem ; right: 1rem; z-index:1050" id="toast-container">
			@if (TempData["Success"] != null)
			{
				<div class="toast align-items-center  border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<strong class="me-auto">Notification</strong>
						<small>just now</small>
						<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					<div class="toast-body">
						@TempData["Success"]
					</div>
				</div>
			}
		</div>
	}

		<div class="container">
			<div class="row">
				<div class="col-12"	data-aos="fade-up" data-aos-delay="0">
					
					<h2 class="heading mb-5">Get In Touch</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
					<div class="contact-info">

						<div class="address mt-4">
							<i class="icon-room"></i>
							<h4 class="mb-2">Location:</h4>
						<p>
							62 Street 36, Van Phuc Urban Area, Thu Duc, Ho Chi Minh City
						</p>
						</div>

						<div class="open-hours mt-4">
							<i class="icon-clock-o"></i>
							<h4 class="mb-2">Open Hours:</h4>
							<p>
								Sunday-Friday:<br>
								7:00 AM - 2300 PM
							</p>
						</div>

						<div class="email mt-4">
							<i class="icon-envelope"></i>
							<h4 class="mb-2">Email:</h4>
							<p>pnamanh98@gmail.com</p>
						</div>

						<div class="phone mt-4">
							<i class="icon-phone"></i>
							<h4 class="mb-2">Call:</h4>
							<p>+84 0385784610</p>
						</div>

					</div>
				</div>
			<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
				
				<form asp-action="ContactUs" method="post">
					@Html.AntiForgeryToken()
					<div class="row">
						<div class="col-6 mb-3">
							<input asp-for="Name" class="form-control" placeholder="Your Name">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="col-6 mb-3">
							<input asp-for="Email" class="form-control" placeholder="Your Email">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="col-12 mb-3">
							<input asp-for="Subject" class="form-control" placeholder="Subject">
							<span asp-validation-for="Subject" class="text-danger"></span>
						</div>
						<div class="col-12 mb-3">
							<textarea asp-for="Message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
							<span asp-validation-for="Message" class="text-danger"></span>
						</div>

						<div class="col-12">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
