@model IceCreamProject.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/System/Views/backend.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Create Category</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">All form elements</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <form asp-action="Create" asp-controller="Category" asp-area="System" method="post" novalidate>
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3 row">
                                <label class="col-sm-2">Name <span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <br />
                            <div class="mb-3 row">
                                <label class="col-sm-2">Descriptions</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <br />

                            <div class="mb-3 row">
                                <label class="col-sm-2">Parent</label>
                                <div class="col-sm-10">
                              
                            
                                    <select asp-for="ParentCategoryId" class="form-control"
                                            asp-items="Model.ParentCategories">
                                        <option value="">-- Select Parent --</option>
                                    </select>
                                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>

                            </div>
                            <div class="line"></div>
                            <br />

                            <div class="mb-3 row">
                                <label class="col-sm-2">Active</label>
                                <div class="col-sm-10">
                                    <input class="form-check-input" asp-for="IsActive" checked/> @Html.DisplayNameFor(model => model.IsActive)
                                </div>
                            </div>
                            
                            <div class="line"></div>
                            <br />
                            <div class="mb-3 row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="submit" class="btn btn-primary mb-2">
                                        <i class="fas fa-save"></i> Save
                                    </button>

                                        <a asp-route="Category" class="btn btn-secondary mb-2">
                                        <i class="fas fa-times"></i> Cancel
                                    </a>

                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
